{% extends "index.html" %}
{% block content %}
  <div class="col-lg-12">
      <h1 class="page-header">Grenouilles heureux = Happy frogs</h1>
      <form id="upload_form" action="{{ url_for('upload_happy') }}" method="POST" enctype="multipart/form-data">
        <label for="file">Add more pepes:
         <input class="form-control-file" type="file" name="file" accept="image/*">
        </label>
         <button type="Upload" class="btn btn-primary">Upload</button>
      </form>
      <br>
  </div>
  {% for img in img %}
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/static/img/happy/{{ img }}" >
        </a>
    </div>
  {% endfor %}

{% endblock %}
