{% extends "index.html" %}
{% block content %}

            {% for img_happy in img_happy %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="/static/img/happy/{{ img_happy }}">
                  </a>
              </div>
            {% endfor %}

            {% for img in img %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="/static/img/{{ img }}">
                  </a>
              </div>
            {% endfor %}

            {% for img_sad in img_sad %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="/static/img/sad/{{ img_sad }}">
                  </a>
              </div>
            {% endfor %}

            {% for img_smug in img_smug %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="/static/img/smug/{{ img_smug }}">
                  </a>
              </div>
            {% endfor %}

            {% for img_angry in img_angry %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a class="thumbnail" href="#">
                      <img class="img-responsive" src="/static/img/angry/{{ img_angry }}">
                  </a>
              </div>
            {% endfor %}

{% endblock %}
