@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');

h1,h2,h2,h3,h3,h4,h5,h6 {font-family: 'Indie Flower', cursive;}
body {font-family: 'Raleway', sans-serif;}
img {
  width: 400px !important;
  height: 250px !important;
}

.navbar-brand, .navbar {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: 600;
  background-color: #286d0f!important;
}

.brand-a {
  font-size: 25px;
  font-weight: 900;
  color: #dd2f2c !important;
}

.brand-a:hover{
  color: #fff !important;
  background-color: #286d0f!important;
}

hr {
  height: 3px;
  background-color: #dd2f2c;
  padding: 0 auto;
  margin: 0 auto;
  border: none;
}
